@font-face {
  font-family: Poppins;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/poppins/Poppins-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/poppins/Poppins-Light.ttf");
  font-weight: 300;
}


