---
layout: default
section_id: home
slides:
- layout: default
  <!-- title: I design things -->
  <!-- tagline: Illustrations | Graphics | Products -->

  background: images/smif1.jpg
- layout: default
  <!-- title: I design things -->
  <!-- tagline: Illustrations | Graphics | Products -->

  background: images/indexslide0.jpg
- layout: default
  <!-- title: This is my passion -->
  <!-- tagline: Illustrations | Graphics | Products -->

  background: images/portfix2.jpg
- layout: default
  <!-- title: I design things -->
  <!-- tagline: Illustrations | Graphics | Products -->

  background: images/indexslide2.jpg
- layout: default
  <!-- title: This is my passion -->
  <!-- tagline: Illustrations | Graphics | Products -->

  background: images/moodring3.jpg
- layout: default
  <!-- title: This is my passion -->
  <!-- tagline: Illustrations | Graphics | Products -->

  background: images/indexslide1.jpg


services:
  - title: Beanie
    <!-- desc: A caricature portrait of a man with a beanie. Justin Bua inspired. -->
    image: images/beanie.jpg
    image_position: left
  - title: Pivot Broom
    image: images/portfix3.jpg
    image_position: right




milestones:
- title: Projects
  from: 0
  to: 69
- title: Ideas
  from: 0
  to: 708
- title: Countries
  from: 0
  to: 10
- title: Articles
  from: 0
  to: 287

testimonials_left:
- author: David Lame - CEO of Wollen store
  content: “Obcaecati voluptate ullam pariatur reiciendis optio harum
    quae aut, eveniet explicabo. Commodi pariatur ut provident.”
  avatar: images/@stock/author-1.png
- author: Amy Swan - CEO of Wollen store
  content: “Obcaecati voluptate ullam pariatur reiciendis optio harum
    quae aut, eveniet explicabo. ”
  avatar: images/@stock/author-3.png
testimonials_right:
- author: Sherley Hewai - CEO of Wollen store
  content: Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Explicabo eveniet asperiores ipsum saepe ab, aliquid veritatis incidunt
    laudantium modi accusamus quidem eum magni.
  avatar: images/@stock/author-2.png
- author: Lucas Toope - CEO of Wollen store
  content: Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Consectetur rem doloribus veniam alias commodi, dolorem, natus autem neque.
    Quisquam labore.
  avatar: images/@stock/author-4.png

clients:
- image: images/assoc.png


---

<div class="full no-padding">
  <div id="slides" class="fullscreen">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            <div class="row">
              <div class="large-10 large-centered columns">
                {% if slide.layout == 'default' %}
                  <div class="image-wrapper" style="background-image: url({{site.url}}/{{slide.image}});"></div>
                  <div class="two spacing"></div>
                  <h1>{{slide.title}}</h1>
                  <p>{{slide.tagline}}</p>
                {% else %}
                  <div class="image-wrapper" style="background-image: url({{site.url}}/{{slide.image_top}});"></div>
                  <div class="image-wrapper arrows" style="background-image: url({{site.url}}/{{slide.image_bottom}});"></div>
                  <div class="three spacing"></div>
                  <h1>{{slide.title}}</h1>
                {% endif %}
              </div>
            </div>
          </div>
          <img src="{{site.url}}/{{slide.background}}" alt="">
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>
  </div>
</div>

<div class="fullindex light-grey centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <img src="images/self2.png" alt="" data-wow-duration="2s" data-wow-delay="0.1s"></img>
<!-- up between "" and data   class="wow flipInY" -->
        <div class="spacing"></div>
        <h2>Hi</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
        Design is an outlet to create something. The development of an idea is where I thrive. I've grown up taking things apart and making them my own which has steered me, by happy accident, to Industrial Design. Thank you for visiting.
      </p>
      <div class="two spacing"></div>
      <a href="/about.html" class="button boxed black">Know more</a>
    </div>
  </div>
</div>
<div class="full white no-padding">
  <div class="two spacing"></div>
  <div class="two spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='centered-text'>
        {% for client in page.clients %}
          <div><img alt="" src="{{site.url}}/{{client.image}}"></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="two spacing"></div>
<div class="two spacing"></div>
<!-- <div class="full light-grey no-padding">

  <div class="four spacing"></div>
  <div class="spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Recent Work</h2>
        <p>You will love we have done</p>
      </div>
    </div>
  </div>

<div class="two spacing"></div>
<div class="two spacing"></div>
{% for service in page.services %}
<div class="full no-padding">
  <div class="row">
    {% if service.image_position == 'left' %}
      <div class="medium-6 columns">
        <img src="{{site.url}}/{{service.image}}" alt="">
      </div>
      <div class="medium-6 columns">
        <div class="service-info centered-text">
          <h2>{{service.title}}</h2>
          <p>{{service.desc}}</p>
          <h4>Date</h4>
          <p><span>August 2017</span></p>
          <div class="two spacing"></div>
          <a href="/graphic10.html" class="button boxed black">See Page</a>
        </div>
      </div>





    {% else %}
    <div class="two spacing"></div>
    <div class="two spacing"></div>
    <div class="two spacing"></div>
      <div class="medium-6 columns">
        <div class="service-info centered-text">
          <h2>{{service.title}}</h2>
          <p>{{service.desc}}</p>
          <h4>Date</h4>
          <p><span>August 2017</span></p>
          <div class="two spacing"></div>
          <a href="/project4.html" class="button boxed black">See Page</a>
        </div>
      </div>
      <div class="medium-6 columns">
        <img src="{{site.url}}/{{service.image}}" alt="">
      </div>
    {% endif %}

  <div class="four spacing"></div>
  <div class="two spacing"></div>
</div>
</div>






{% endfor %}


<div class="two spacing"></div>
<div class="two spacing"></div>
<div class="two spacing"></div>
</div>
</div>
</div> -->





<!-- <div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Testimonials</h2>
        <p>We are happy to work with our clients and let thme happy</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_left %}
        <div class="quote wow slideInLeft" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_right %}
        <div class="quote reverse wow slideInRight" class="wow" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="full light-grey no-padding">
  <div class="two spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='clients'>
        {% for client in page.clients %}
          <div><a href="#"><img alt="" src="{{site.url}}/{{client.image}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </div> -->

<!-- <div class="full centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Recent posts</h2>
        <p>What I've been up to...</p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for post in site.posts limit:3 %}
      <div class="large-4 columns">
        <div class="post recent-post">
          {% if post.images %}
            <a href="{{post.url}}" class="home"><img src="{{site.url}}/{{post.images[0]}}" alt="post"></a>
            <div class="spacing"></div>
          {% endif %}
          <h4>{{post.title}}</h4>
          <p class="info">
            <span>
              <a href="#">{{ post.author }}</a>
            </span>
            ,
            <span>{{ post.date | date: "%B %d, %Y" }}</span>
          </p>
          <div class="spacing"></div>
          <p><a href="{{post.url}}" class="button boxed brown">Read more</a></p>
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->
