---
layout: default
section_id: Product Design
works_left:
- title: MoodRing
  link_to: project3.html
  image: images/moodring2.jpg
  categories: Music suggesting device
- title: Top Gauge
  link_to: project1.html
  image: images/top6.png
  categories: Tire pressure tool


works_right:
- title: SMIF
  link_to: project2.html
  image: images/smif2.jpg
  categories: Smart food management
- title: Casabella® Pivot Broom
  link_to: project4.html
  image: images/portfix2.jpg
  categories: All purpose broom

---

<div class="full light-grey centered-text texture">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">Product Design</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 medium-centered columns">
        <div class="header-quote">
          <!-- <p>"A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away."</p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>
