<div class='contain-to-grid sticky transparent'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class="">
        <h1>
          <a href='{{site.url}}/index.html'>
            <img src="{{site.url}}/images/Asset 3.png" />
          </a>
        </h1>
      </li>
    </ul>
    <div id="menu-toggler" class="right">
      <a href='#'>
        <i class="icon-arrows-hamburger-2"></i>
      </a>
    </div>
    <section class='top-bar-section closed'>
      <ul class='right'>

        <!-- <li class="has-dropdown active">
          <a href="/index.html">Home</a>
          <ul class='dropdown'> -->

              <li>
                <a href="/index.html">Home</a>
              </li>

              <!-- <li>
                <a href="/index-personal.html">Home Personal</a>
              </li>

          </ul>
        </li> -->





        <!-- <li class="has-dropdown ">
          <a href="/about.html">Pages</a>
          <ul class='dropdown'> -->

              <li>
                <a href="/about.html">About</a>
              </li>

              <!-- <li>
                <a href="/services.html">Services</a>
              </li>

              <li>
                <a href="/services-2.html">Services 2</a>
              </li>

          </ul>
        </li> -->





        <li class="has-dropdown ">
          <a href="/portfolio.html">Works</a>
          <ul class='dropdown'>

              <li>
                <a href="/portfolio.html">Product Design</a>
              </li>

              <li>
                <a href="/portfolio-2.html">Digital Art</a>
              </li>

              <!-- <li>
                <a href="/portfolio-item.html">Single Page 1</a>
              </li>

              <li>
                <a href="/portfolio-item-2.html">Single Page 2</a>
              </li> -->

              <!-- <li>
                <a href="/portfolio-3.html">Sketches</a>
              </li> -->

          </ul>
        </li>





        <!-- <li class="">
          <a href="/contact.html">Contact</a>
        </li>
 -->




        <!-- <li class="has-dropdown ">
          <a href="/blog.html">Blog</a>
          <ul class='dropdown'> -->

              <!-- <li>
                <a href="/blog/">Blog</a>
              </li> -->

              <!-- <li>
                <a href="/travel/2016/04/06/beautiful-day.html">Single Page</a>
              </li>

          </ul>
        </li> -->



  </ul>
</section>
</nav>
</div>
